

.navbar {
    margin: 0;
    width: 98%;
    background-color: #333; 
    color: white; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}


.size-logo{
    width: 75px;
}

.logo-title-size{
    display: flex;
    gap:5px;
}